# Ignore node_modules folder (if you decide to add Node.js in the future)
node_modules/

# Ignore build and cache directories (for potential build tools in future)
/build/
/dist/



# Ignore IDEs and Editors directories
.vscode/
.idea/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Log files
*.log

# Temporary files
*.tmp
*.swp
